/* Adaptability/Replugged_Repository-Plugins modifies the Replugged Plugins Addon List to provide information about their compatibility with Flashcord */

/* NOTE: THE COMPATIBILITY LIST INSIDE THE FLASHCORD CLIENT IS NOW **DEPRECATED**!! IT WILL BE REPLACED WITH THE FLASHCORD STORE */

/* [End] = Flashcord Beta == Replugged Plugin Compatibility List CSS = */