[class^="chat_"] > [class^="subtitleContainer_"],
[class^="chatLayerWrapper_"] > [class^="container_"] {
    container: var(--FCM-Channel_Bar, FCM-Channel_Bar) / inline-size;
}

@container FCM-Channel_Bar (width>0) {
    section {
        height: 32px !important;
        min-height: 0 !important;
        padding: 0 0 0 8px !important;
    }
}