html {
    /* Black Collection (Blue/Purple ish) */
    --Black-Bismuth: 4, 2, 4;
    --Black-Arellyan: 8, 4, 8;
    --Black-Ascellyan: 22, 8, 22;
    --Black-Sirius: 36, 18, 36;
    --Black-Sirio: 50, 22, 50;
}