html {
    /* White-Blue */
    --Sirius-Darker: 237, 237, 251;
    --Sirius-Dark: 242, 242, 252;
    --Sirius-Normal: 246, 246, 253;
    --Sirius-Accent: 250, 250, 254;
    --Sirius-Light: 254, 254, 255;
}