
/* [Start] = Flashcord Beta == Replugged Theme Compatibility Fix CSS = */

/* net.saltssaumure.Squared.asar */
html:has([href*="net.saltssaumure.Squared.asar"]) {
    --Flashcord-Border_Radius: 0px;
}

/* net.saltssaumure.piOS.asar */
html:has([href*="net.saltssaumure.piOS.asar"]) {
    --Flashcord-Border_Radius: 0px;
}

/* [End] = Flashcord Beta == Replugged Theme Compatibility Fix CSS = */
