/* This is for the Threads being on the side */

@property --FCM-Thread {
    syntax: 'on | off';
    inherits: true;
    initial-value: on;
}

[class^="page_"]:has(> [class^="chatLayerWrapper_"]) {
    container: FCM-Thread / normal;
}

@container FCM-Thread style(--FCM-Thread: on) {
    [class^="chatLayerWrapper_"] {
        animation: SNDL-Fade_In var(--SNDL-Animation_Normal);
    }
}