/* Control/Panel is the code responsable for how the settings modal is styled */

/* DEV BUILD 09/12/2023 NOTES: Holy shit this really needs optimization, this is build fucking horrendously,
too much copy pasting! The splash text being a separate module being called was the right call.
I might want to do that too here because jesus christ this is uglier than the color of my walls. 
bSID-DEV_240411 Update: lol can't do more shit about it for now; cry about it */

[class^="layers_"]:has([class^="layer_"]:nth-child(2)) { container-name: var(--Flashcord-Module_Control-Panel, FCM-Control-Panel_Float); container-type: inline-size; }
@container FCM-Control-Panel_Float (min-width: 0) {
    [class^="layer_"]:nth-child(2) {
        width: 90vw;
        height: 85vh;
        margin: auto;
        padding: 0;
        border-radius: var(--Flashcord-UI_Border-Radius);
        z-index: 1;
        transform: none !important;
        animation: SNDL-Fade_In var(--Flashcord-Animation_XSlow) !important;
    }    
    [class^="sidebarRegion_"] {
        max-width: 220px;
        max-height: 85vh;
    }
    [class^="contentRegion_"] {
        height: 85vh;
    }
    [class^="layer_"]:nth-child(2) [class^="sidebar"] {
        max-width: 200px;
        padding: 0;
    }
    [class^="standardSidebarView_"] {
        position: static !important;
        height: 100%;
    }
    [class^="contentColumn_"] {
        max-width: calc(100% - 16px);
        margin: auto;
        padding: 0;
    }
    [class^="closeButton_"] {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
        border: none;
        margin: auto;
        background: transparent;

        transition-property: opacity;
        transition-duration: var(--Flashcord-Transition_Normal);
    }
    [class^="closeButton_"] svg { display: none; }
    [class^="toolsContainer_"] {
        position: absolute;
        z-index: -1;
    }
    [class^="keybind_"] { display: none; }


    /* Control Fluff */
    .stop-animations { /* bSID-DEV_240411: The new optimized code for this is broken when you exit the Panel but it looks sick so I'm keeping it in. */
        opacity: 1 !important;
        z-index: 1;
        transform: none !important;
        transition-property: filter, scale;
        transition-duration: var(--Flashcord-Transition_Normal);
        filter: blur(var(--Flashcord-Blur_Normal));
        scale: 0.98;
    } [class^="layers_"]:has([class^="closeButton_"]:hover) .stop-animations { filter: blur(var(--Flashcord-Blur_Feather)); scale: 1; }
    [class^="closeButton_"] { opacity: 0; }

    [class^="sidebarRegion_"] {
        container-name: var(--Flashcord-Module_Control-Panel_Side-Tweaks, FCM-Control-Panel_Side-Tweaks);
        container-type: inline-size; /* bSID-DEV_240411: YOU MAY HAVE SEEN A VARIABLE, BUT YOU'VE NEVER SEEN ME MAKE IT LONG */
    }


    /* Unfucking certain tabs having no margin or too much margin (fixing consistency) */
    [class^="layer_"]:nth-child(2) [class^="container_"]:has([class^="bannedUser_"]) { padding: 0; width: unset; margin-top: 1rem;} /* Fix Banned Users Tab */
    [class^="layer_"]:nth-child(2) [class^="content_"]:has([class^="member_"], [class*="inviteSettingsInviteRow_"]) { margin: 0; max-width: 95%;} /* Fix Server Members List and Invites List */

    [class^="layer_"]:nth-child(2) [class^="content_"]:has(> div:empty) { margin-top: 1rem; }
    [class^="layer_"]:nth-child(2) [class^="content_"] > div[style="height: 60px;"]:empty {display: none; }
    [class^="layer_"]:nth-child(2) [class^="contentColumn_"][role="tabpanel"] { margin-top: 1rem; padding: 0; }
    [class^="layer_"]:nth-child(2) [class^="content_"] > [class^="customHeader_"] { padding: 0;}
    /* bSID-DEV_240411: This is fucking awful to copy paste but it doesn't seem like I have a fucking choice at all god damn it. */

    @container FCM-Chat-Slide_SNDL (min-width: 0) { [class^="chat_"] { translate: 0px !important; } }
    @container FCM-Chat-Slide_Legacy (min-width: 0) { [class^="sidebar_"] { width: 240px !important; } }

}
@container FCM-Control-Panel_Side-Tweaks (min-width: 0) {
    [class^="item_"], [class^="premiumTab_"] {
        max-width: 160px;
        border-radius: var(--Flashcord-UI_Border-Radius) !important;
        translate: 5px;
        transition-property: translate, scale;
        transition-duration: var(--Flashcord-Transition_Fast);
    } [class^="item_"]:hover, [class^="premiumTab_"]:hover { translate: 15px; }
    [class^="item_"]:hover, [class^="premiumTab_"]:hover { scale: 1.05; }
    [class^="item_"]:active, [class^="premiumTab_"]:active { scale: 1; }
    [class*="selected_"] { scale: 1.025; }
    
    [class^="premiumLabel_"] {
        translate: 0 !important;
        color: var(--interactive-active);
    } [class^="premiumTab_"] [class^="background_"] { display: none; }
}
@container FCM-Control-Panel_Full (min-width: 0) {
    [class^="layer_"]:nth-child(2) {
        width: 100vw; height: 100vh;
        margin: auto; padding: 0;
        border-radius: 0; animation: SNDL-Fade_In var(--Flashcord-Animation_XSlow) !important;
    } [class^="sidebarRegion_"] { max-width: 220px; max-height: 100vh; }
    [class^="contentRegion_"] { height: 100vh; }
    [class^="layer_"]:nth-child(2) [class^="sidebar"] { max-width: 200px; padding: 0; }
    [class^="standardSidebarView_"] { position: static !important; height: 100%; }
    [class^="contentColumn_"] {
        max-width: calc(100% - 16px);
        margin: auto; padding: 0;
    }

    [class^="sidebarRegion_"] {
        container-name: var(--Flashcord-Module_Control-Panel_Side-Tweaks, FCM-Control-Panel_Side-Tweaks);
        container-type: inline-size;
    }

    /* Unfucking certain tabs having no margin or too much margin (fixing consistency) */
    [class^="layer_"]:nth-child(2) [class^="container_"]:has([class^="bannedUser_"]) { padding: 0; width: unset; margin-top: 1rem;} /* Fix Banned Users Tab */
    [class^="layer_"]:nth-child(2) [class^="content_"]:has([class^="member_"], [class*="inviteSettingsInviteRow_"]) { margin: 0; max-width: 95%;} /* Fix Server Members List and Invites List */

    [class^="layer_"]:nth-child(2) [class^="content_"]:has(> div:empty) { margin-top: 1rem; }
    [class^="layer_"]:nth-child(2) [class^="content_"] > div[style="height: 60px;"]:empty {display: none; }
    [class^="layer_"]:nth-child(2) [class^="contentColumn_"][role="tabpanel"] { margin-top: 1rem; padding: 0; }
    [class^="layer_"]:nth-child(2) [class^="content_"] > [class^="customHeader_"] { padding: 0;}
    /* bSID-DEV_240411: This is fucking awful to copy paste but it doesn't seem like I have a fucking choice at all god damn it. */

    /* Fixes for padding issue */
    @container FCM-ControlPanel_Splash (min-width: 0) {
        [class^="sidebar_"] > :before { margin-top: 1rem; }
        [class^="sidebarRegionScroller_"]::after { margin-top: 1rem; }
    }
}