/* Theme/ThemeHooker contains code common to all Advanced Themes. */

@container FCM-Theme_Hooker (min-width: 0) {
    body::after { /* Allows for background blur */
        position: absolute; top: 0; left: 0; z-index: -1;
        content: ""; width: 100vw; height: 100vh;
    }

    [theme-hooker="theme-sunset"] [class^="layers_"] > [class^="layer_"]:first-child, /* CBM DARK */
    [theme-hooker="theme-mint-apple"] [class^="layers_"] > [class^="layer_"]:first-child, /* CBM LIGHT */
    [theme-hooker="theme-citrus-sherbert"] [class^="layers_"] > [class^="layer_"]:first-child, /* IRIDESCENT LIGHT */
    [theme-hooker="theme-chroma-glow"] [class^="layers_"] > [class^="layer_"]:first-child, /* IRIDESCENT DARK */
    [theme-hooker="theme-sepia"] [class^="layers_"] > [class^="layer_"]:first-child /* TRANSPARENT */
    { container-name: var(--Flashcord-Module_Chat-Slide, FCM-Chat-Slide_Legacy); }
    /* This is a hacky solution to fix the bug where you couldn't disable the chat slide on these advanced themes. */
    @container FCM-Settings_Appearance (min-width: 0) {
        section > [class^="header_"] > :before { content: var(--FCL-AT_ThemeHooker) !important; }
        [class^="themeSelection_"][style*="--bg-gradient-citrus-sherbert"], /* IRIDESCENT LIGHT */
        [class^="themeSelection_"][style*="--bg-gradient-chroma-glow"], /* IRIDESCENT DARK */
        [class^="themeSelection_"][style*="--bg-gradient-sepia"], /* TRANSPARENT */
        [class^="themeSelection_"][style*="--bg-gradient-aurora"] /* TERMINAL */
        { /* I hate brackets like these. This will be the only time you'll see something this hideous. Enjoy it nerds. */
            filter: unset !important;
            cursor: pointer !important;
        }
    }
}