/* Kernel/Ring1 is a repository of Keyframes.

SNDL Specific Keyframes */
@keyframes SNDL-Fade_In { 0% { opacity: 0;} }
@keyframes SNDL-Fade_Out { 100% { opacity: 0;} }
@keyframes SNDL-Fade_Loop { 0% { opacity: 0;} 50% { opacity: unset;} 100% {opacity: 0;} }
@keyframes SNDL-Fade_Custom { 0% { opacity: var(--Initial);} 100% { opacity: var(--Final);} }
@keyframes SNDL-Translate_Custom {
    0% { translate: var(--Initial, 0rem); opacity: 0;}
    100% { translate: var(--Final, 0rem);}
}