
/* [Start] = Flashcord Beta == France = */

[class^="message-"]:hover [class^="buttons-"] {
    opacity: 0.5 !important;
    animation: FlashCore-FadeIn 1s;
    transition-duration: calc(125ms * var(--Flashcord-TransMult-Fast, 1)) !important;
}
[class^="message-"] [class^="buttons-"]:hover {
    opacity: 1 !important;
}

[class^="message-"] {
    transition-property: background-color;
    transition-duration: calc(250ms * var(--Flashcord-TransMult-Normal, 1)) !important;
}

/* [End] = Flashcord Beta == France = */