
/* [Start] = Flashcord Beta == Custom Theme: CBM CSS = */

@container FC-AdvancedTheme-LEGACY_Custom-Background-Mode (min-width: 0px) {
    body {
        background-image: var(--Flashcord-CBM_Image, url("https://sirio-network.com/flashcord/bgr-test.jpg") ) !important;
    }
    [class^="layer-"]:nth-child(2) {
        border: 1px solid white;
    }
    .custom-theme-background [class^="chat-"] [class^="title-"] [class^="children-"]:after {
        content: var(--Flashcord-Warnings,"  ⚠️ Flashcord is in Beta. 🖼️ Custom Mode is unfinished.  ") !important;
    }

    @container FC-ChatSlide_Legacy (min-width: 0px) {
        [class^="chat-"] > section, [class^="chat-"] > div, [class^="chat-"] {
            background: transparent !important;
        }
    }
    #app-mount {
        backdrop-filter: var(--Flashcord-CBM_Filter, blur(16px) brightness(0.5));
    }
}

html[theme-hooker="theme-sunset"],
html[theme-hooker="theme-mint-apple"] {
    --bg-overlay-color: transparent;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --bg-overlay-1: transparent;
    --bg-overlay-2: transparent;
    --bg-overlay-3: transparent;
    --bg-overlay-4: transparent;
    --bg-overlay-5: transparent;
    --bg-overlay-6: transparent;
    --bg-overlay-chat: transparent;
    --bg-overlay-home: transparent;
    --bg-overlay-app-frame: transparent;
    --custom-theme-background: transparent;

    --FlashCore-ChatSlide: FC-ChatSlide_Legacy;
}
[theme-hooker="theme-sunset"] {
    --background-accent: #660066;
    --background-floating: rgba(6,6,6,0.5);
    --background-modifier-selected: rgba(16,16,16,0.5);
    --background-modifier-hover: rgba(22,22,22,0.5);
    --FlashCore-Brightness: 2;
}
[theme-hooker="theme-mint-apple"] {
    --background-accent: #EE00EE;
    --background-floating: rgba(200,200,200,0.5);
    --background-modifier-selected: rgba(225,225,225,0.5);
    --background-modifier-hover: rgba(255,255,255,0.5);
    --FlashCore-Brightness: 1;
}
body[theme-hooker="theme-sunset"],
body[theme-hooker="theme-mint-apple"] {
    background-repeat: no-repeat;
}
@container FC-Theme_Hooker (min-width: 0px) {
    [theme-hooker="theme-mint-apple"] { background-image: var(--Flashcord-CBM_Light-Image, url("https://sirio-network.com/flashcord/bgr-test.jpg") ) !important; }
    [theme-hooker="theme-sunset"] { background-image: var(--Flashcord-CBM_Dark-Image, url("https://sirio-network.com/flashcord/hypernner.jpg") ) !important; }
    
    [theme-hooker="theme-mint-apple"] [class^="chat-"] [class^="title-"] [class^="children-"]:after {
        content: var(--Flashcord-Warnings,"  ⚠️ Flashcord is in Beta. 🖼️ Light Custom Background Mode is unfinished.") !important;
    }
    [theme-hooker="theme-sunset"] [class^="chat-"] [class^="title-"] [class^="children-"]:after {
        content: var(--Flashcord-Warnings,"  ⚠️ Flashcord is in Beta. 🖼️ Dark Custom Background Mode is unfinished.") !important;
    }
    [theme-hooker="theme-mint-apple"] [class^="layer-"]:nth-child(2) {
        border: 1px solid black;
    }
    [theme-hooker="theme-sunset"] [class^="layer-"]:nth-child(2) {
        border: 1px solid white;
    }

    [theme-hooker="theme-mint-apple"] {
        container-name: var(--FlashCore-Global_Theme, FC-Theme_CBM-Light) !important;
        container-type: inline-size;
    }
    [theme-hooker="theme-sunset"] {
        container-name: var(--FlashCore-Global_Theme, FC-Theme_CBM-Dark) !important;
        container-type: inline-size;
    }
    @container FC-Theme_CBM-Light (min-width: 0px) {
        @container FC-ChatSlide_Legacy (min-width: 0px) {
            [class^="chat-"] > section, [class^="chat-"] > div, [class^="chat-"] {
                background: transparent !important;
            }
        }
        #app-mount {
            backdrop-filter: var(--Flashcord-CBM_Filter-Light, blur(8px) brightness(1));
        }
    }
    @container FC-Theme_CBM-Dark (min-width: 0px) {
        @container FC-ChatSlide_Legacy (min-width: 0px) {
            [class^="chat-"] > section, [class^="chat-"] > div, [class^="chat-"] {
                background: transparent !important;
            }
        }
        #app-mount {
            backdrop-filter: var(--Flashcord-CBM_Filter-Dark, blur(16px) brightness(0.5));
        }
    }
}

/* [End] = Flashcord Beta == Custom Theme: CBM CSS = */
