
/* [Start] = Flashcord Beta == Custom Theme: Transparent Mode CSS = */

@container FC-AdvancedTheme_Transparent {
    .theme-sepia {
        --bg-overlay-color: transparent;
        --background-primary: transparent;
        --background-secondary: transparent;
        --background-secondary-alt: transparent;
        --background-tertiary: transparent;
        --bg-overlay-1: transparent;
        --bg-overlay-2: transparent;
        --bg-overlay-3: transparent;
        --bg-overlay-4: transparent;
        --bg-overlay-5: transparent;
        --bg-overlay-6: transparent;
        --FlashCore-Brightness: 0.5;

        background: transparent !important;
    }
    .theme-sepia #app-mount {
        backdrop-filter: var(--Flashcord-CBM_Filter, blur(16px) brightness(0.5));
    }
}

/* [Start] = Flashcord Beta == Custom Theme: Transparent Mode CSS = */
