
/* [Start] = Flashcord Beta == Custom Theme: Iridescent Mode CSS = */


@container FC-AdvancedTheme_Iridescent {
    .theme-citrus-sherbert [class^="tooltip-"] { outline: 1px solid var(--Flashcolord-Light_Accent); }
    .theme-chroma-glow [class^="tooltip-"] { outline: 1px solid var(--Flashcolord-Dark_Accent); }

    @container FC-PM (min-width: 0px) {
        [class*="menu"] {
            animation: Flashcord-PopUp_In calc(125ms * ( var(--Flashcord-AnimMult-Fast, 1) * var(--Flashcord-Animations, 1) ) ) ease-in;
        }
        .theme-citrus-sherbert [class*="menu"] { outline: 1px solid var(--Flashcolord-Light_Accent); }
        .theme-chroma-glow [class*="menu"] { outline: 1px solid var(--Flashcolord-Dark_Accent); }
        [class*="menu"]:hover {
            outline-width: 2px;
        }
    }
}


/* [Start] = Flashcord Beta == Custom Theme: Iridescent Mode CSS = */
