
/* [START] = Flashcord Beta == Major General Modifications [00] Control Appearance Tab Overhaul CSS = */

[class^="contentRegionScroller-"] #appearance-tab {
    container-name: var(--FlashCore-SPGO_AT, FC-SPGO_AT);
    container-type: inline-size;
}

@container FC-SPGO_AT (min-width: 0px) {
  [class^="themeTitle-"]:before {
    content: "📸 Flashcord Themes\A⚠️ Advanced Themes require LegalDiscordBypasses or Nitro to enable them.";
    color: var(--text-normal);
    white-space: pre;
    font-weight: 900;
    font-size: x-large;
    text-transform: none;
    line-height: normal;
  }
  [class^="themeTitle-"] div { display: none; }
  [class^="themeTitle-"] button > div { display: block !important; }

  [class^="children-"] {
    flex-direction: column-reverse;
  }
  div[tabindex="-1"] {
    display: inline-flex;
    order: 1;
    margin: 0;
  }
  div[tabindex="-1"] > div {
    width: 100%;
    margin: 0;
  }
  [class^="divider-"]:last-of-type, [class^="defaultColor-"]:last-of-type { display: none; }

  [class*="basicThemeSelectors-"] > [class^="themeSelectionContainer-"]:first-child > [class^="themeSelection-"] {
    background: unset !important;
    background-image: url("https://sirio-network.com/flashcord/elements/theme-preview_light.png") !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 25px;
  }
  [class*="basicThemeSelectors-"] > [class^="themeSelectionContainer-"]:first-child > [class^="themeSelection-"]:before {
    content: "Light Mode";
  }

  [class*="basicThemeSelectors-"] > [class^="themeSelectionContainer-"]:last-of-type > [class^="themeSelection-"] {
    background: unset !important;
    background-image: url("https://sirio-network.com/flashcord/elements/theme-preview_sync.png") !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 25px;
  }
  [class*="basicThemeSelectors-"] > [class^="themeSelectionContainer-"]:last-of-type > [class^="themeSelection-"]:before {
    content: "Sync Mode";
  }
  [class^="themeSelection-"] svg { display: none; }

  [class*="basicThemeSelectors-"] > [class^="themeSelectionContainer-"]:nth-child(2) > [class^="themeSelection-"] {
    background: unset !important;
    background-image: url("https://sirio-network.com/flashcord/elements/theme-preview_dark.png") !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 25px;
  }
  [class*="basicThemeSelectors-"] > [class^="themeSelectionContainer-"]:nth-child(2) > [class^="themeSelection-"]:before {
    content: "Dark Mode";
  }

  [class^="themeSelection-"][style*="--bg-gradient-sunset"] {
    background: unset !important;
    background-image: var(--CustomBGR-IMG, url("https://sirio-network.com/flashcord/bgr-test.jpg") ) !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 25px;
  }
  [class^="themeSelection-"][style*="--bg-gradient-sunset-2"]:before {
    content: "Custom Background Image Mode";
  }


  [class^="themeSelection-"][style*="--bg-gradient-midnight-blurple"] {
    background: unset !important;
    background-image: url("https://sirio-network.com/flashcord/elements/theme-preview_transparent.png") !important;
    filter: brightness(0.25);
    background-position: center !important;
    background-size: cover !important;
    border-radius: 25px;
  }

  [class^="themeSelectionContainer-"]:has([style*="--bg-gradient-mint-apple"]) {
    order: 1;
  }
  [class^="themeSelection-"][style*="bg-gradient-mint-apple"] {
    background: unset !important;
    background-image: url("https://sirio-network.com/flashcord/elements/theme-preview_transparent.png") !important;
    filter: brightness(0.25);
    background-position: center !important;
    background-size: cover !important;
    border-radius: 25px;
  }
  
  [class*="basicThemeSelectors-"] > div,
  [class^="themeSelectionContainer-"] .selectionCircle-3s5Uex,
  [class^="themeSelectionContainer-"]:has([class^="themeSelection-"][style*="--bg-gradient-sunset"]),
  [class^="themeSelectionContainer-"]:has([class^="themeSelection-"][style*="--bg-gradient-mint-apple"]),
  [class^="themeSelectionContainer-"]:has([class^="themeSelection-"][style*="--bg-gradient-midnight-blurple"]) {
    display: block !important;
    border-radius: 25px;
    width: 100%;
    height: 24vh;
    margin: auto;
    translate: 2px 2px;
  }
  [class^="themeSelection-"]:before {
    color: white;
    filter: drop-shadow(0 0 4px black);
    white-space: pre;
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
  }
  [class^="themeSelectionContainer-"], 
  [class^="header-"] { display: none; }
}


/* [End] = Flashcord Beta == Major General Modifications [00] Control Appearance Tab Overhaul CSS = */
