
/* [START] = Flashcord Beta == Major General Modifications [00] ChatIn CSS = */

/* Message Slide Core */
[class^="messagesWrapper-"] [class^="scrollerContent-"] {
    container-name: var(--FlashCore-MessageSlide, FC-MessageSlide);
    container-type: inline-size;
    contain: paint;
}

@container FC-MessageSlide (min-width: 0px) {
    [class^="messageListItem-"]:last-of-type {
        animation: var(--Flashcord-AnimMult-XSlow, 1s) Flashcord-MSG_Uploaded;
    }
    [class^="messageListItem-"]:last-of-type:has([class*="isSending-"]) {
        opacity: 0.5;
        translate: 10vw;
        animation: var(--Flashcord-AnimMult-Normal, 250ms) Flashcord-MSG_Upload; 
    }
}

/* Jumbomojis Core */
[class^="contents-"] > [id^="message-content-"]:has([class^="emojiContainer-"]) {
    container-name: var(--Flashcord-Jumbomojis, FC-Jumbomojis);
    container-type: inline-size;
    contain: paint;
}

@container FC-Jumbomojis (min-width: 0) {
    [class^="emojiContainer-"] .jumboable {
        width: 8rem !important;
        height: 8rem !important;
    }
    [class^="emojiContainer-"] .emoji {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* Shadowed Images Core [Container-less] */
[class^="mediaAttachmentsContainer-"], [class^="clickableSticker-"], [class^="inlineMediaEmbed-"], [class^="emojiContainer-"] .emoji {
    filter: drop-shadow(0px 0px var(--FC-Shadowmage, 1px) var(--text-normal));  
}


/* Imagivid Zoom Core */
[class^="layer-"]:has([class^="focusLock-"] [class*="downloadLink-"]) {
    container-name: var(--FlashCore-ImagividZoom, FC-ImagividZoom);
    container-type: inline-size;
    contain: paint;
}

@container FC-ImagividZoom (min-width: 0px) {
    [class^="focusLock-"] [class^="imageWrapper-"]:hover { 
        width: 90vw !important;
        /*will-change: width, height;*/
    }
    [class^="focusLock-"] [class^="imageWrapper-"] { 
        height: auto !important;
        transition-property: width, height;
        transition-duration: var(--Flashcord-TransMult-Slow, 500ms) !important;
    }
    [class^="focusLock-"] [class^="imageWrapper-"] [class^="wrapper-"] { 
        width: auto !important;
        height: auto !important;
    }
    [class^="focusLock-"] > div { 
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: scroll;
        flex-direction: row;
    }
    [class^="carouselModal-"] {
        justify-content: flex-start !important;
    }
    [class^="focusLock-"] img, [class^="focusLock-"] video, [class^="imageWrapper-"] [class^="wrapper"] {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
        object-fit: contain;
        overflow: scroll;
    }
    [class^="anchor-"] {
        display: none;
    }
    [class*="modalCarouselWrapper-"] {
        -webkit-box-align: unset !important;
        align-items: unset !important;
        margin: auto;
        position: static;
    }
    [class*="modalCarouselWrapper-"] button {
        margin: 0;
    }
}

/* Menthrepin Core */
[class^="layerContainer-"]:has([class^="messagesPopoutWrap-"], [class^="threadIcon-"], [class^="recentMentionsPopout-"], [class*="recentMentionsPopout-"]) {
    container-name: var(--FlashCore-Menthrepin, FC-Menthrepin);
    container-type: inline-size;
    contain: paint;
}

@container FC-Menthrepin (min-width: 0px) {
    [id^="popout_"] {
        top: 0 !important;
        left: 0 !important;
        right: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        transition-property: backdrop-filter;
        transition-duration: var(--Flashcord-TransMult-Slow, 500ms);
        backdrop-filter: blur(0px);
    }
    [id^="popout_"]:has( > div > div:hover) {
        backdrop-filter: blur(var(--Flashcord-Blur-Light, 4px));
        /*will-change: backdrop-filter;*/
    }
    [id^="popout_"] > div > div {
        width: 90vw;
        height: 80vh;
        max-width: unset !important;
        min-width: unset !important;
        border-radius: var(--Flashcord-Border_Radius, 25px );
        padding: 0;
        transition-property: opacity;
        transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
        animation: FlashCore-FadeIn_Top var(--Flashcord-AnimMult-XSlow, 1s) !important;
    }
    [id^="popout_"]:active > div > div {
        opacity: 0;
        /*will-change: opacity;*/
    }
}

/* Xearch Core */
[class^="content-"]:has([class^="searchResultsWrap-"]) {
    container-name: var(--FlashCore-Xearch, FC-Xearch);
    container-type: inline-size;
    contain: paint;
}

@container FC-Xearch (min-width: 0px) {
    [class^="searchResultsWrap-"] {
        width: 50vw;
        animation: Flashcord-SearchSlide var(--Flashcord-AnimMult-Normal, 250ms);
    }
}

/* Stimogi Core */
[class^="positionLayer-"] {
    container-name: var(--Flashcord-Stimogi, FC-Stimogi);
    container-type: inline-size;
}

@container FC-Stimogi (min-width: 0px) {
    [class^="drawerSizingWrapper-"]  {
        width: 69vw !important;
        animation: FlashCore-FadeIn var(--Flashcord-AnimMult-Normal, 250ms) !important;
    }
}

/* Focus Core */
[class^="appAsidePanelWrapper-"]:has([class^="backdrop-"]) {
    container-name: var(--Flashcord-Focus, FC-Focus);
    container-type: inline-size;
    contain: paint;
}
@container FC-Focus (min-width: 0px) {
    [class^="notAppAsidePanel-"]:has([class^="focusLock-"]:hover) .app-3xd6d0 { /* [!] FC-Wildcard_PerfNuker */
        filter: blur(var(--Flashcord-Blur-Medium, 8px)) brightness(var(--FlashCore-Brightness,0.5));
        /*will-change: filter;*/
    }
    [class^="app-"] {
        transition-property: filter;
        transition-duration: var(--Flashcord-TransMult-Slow, 500ms);
        filter: blur(0px) brightness(0.8);
    }
    [class^="backdrop-"] {
        opacity: 0 !important;
    }
}

/* Chatype Bar */
[class^="chatContent-"] {
    container-name: var(--Flashcord-Chatype, FC-Chatype-L1);
    container-type: inline-size;
    contain: paint;
}

@container FC-Chatype-L1 (min-width: 0px) {
    [class^="form-"] {
        padding: 0 0px 0 8px;
    }
    [class^="channelTextArea-"] {
        margin-bottom: 4px;
    }
    [class^="scrollableContainer-"] {
        border-radius: var(--Flashcord-Border_Radius, 25px);
        container-name: var(--Flashcord-Chatype, FC-Chatype-L2);
        container-type: inline-size;
    }
    [class^="typing-"] {
        top: -24px;
        z-index: -1;
        animation: FlashCore-FadeIn_Bottom var(--Flashcord-AnimMult-Normal, 250ms) !important;
    }
    [class^="cooldownWrapper-"] {
        margin: auto !important;
    }
    @container FC-Chatype-L2 (min-width: 0px) {
        [class^="inner-"] {
            padding: 0 8px 0 8px;
            display: flex;
            align-items: center;
        }
        [class^="attachWrapper-"] {
            translate: 4px;
            margin: auto;
            width: min-content;
            height: min-content;
        }
        [class^="attachButton-"] {
            width: min-content;
            height: min-content;
        }
        [class^="placeholder-"] {
            display: none;
        }
        [class^="sprite-"], svg {
            opacity: 0.5;
            transition-property: opacity, scale;
            transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
        }
        [class^="sprite-"]:hover, svg:hover {
            opacity: 0.8;
            scale: 1.1;
        }
        [class^="sprite-"]:active, svg:active {
            scale: 0.9;
        }
    }
}

[class^="messagesWrapper-"] {
    container-name: var(--Flashcord-JumpBars, FC-JumpBars);
    container-type: inline-size;
    contain: paint;
}

@container FC-JumpBars (min-width: 0px) {
    [class^="jumpToPresentBar-"] {
        width: fit-content;
        left: auto;
        right: 16px;
        animation: FlashCore-FadeIn_Bottom var(--Flashcord-AnimMult-Normal, 250ms) !important;
    }
    [class^="newMessagesBar-"] {
        width: fit-content;
        left: auto;
        right: 16px;
        animation: FlashCore-FadeIn_Top var(--Flashcord-AnimMult-Normal, 250ms) !important;
    }
    [class^="jumpToPresentBar-"] [class^="barButtonMain-"] {
        display: none;
    }
}


ol[class^="scrollerInner-"] {
    container-name: var(--FlashCore-ChatEdits, FC-ChatEdits);
    container-type: inline-size;
}
@container FC-ChatEdits (min-width: 0px) {

    /* Better Embeds */
    [id^="message-accessories-"]:has(article) {
        display: table;
    }
    [id^="message-accessories-"]:has(article) article {
        max-width: unset !important;
        display: table-cell;
    }
    [id^="message-accessories-"]:has([href^="https://sirio-network.com/flashcord/store"]) article::after {
        content: "✅ Flashcord Store Link";
        display: block;
        white-space: pre-warp;
        width: 90%;
        background: rgba(0,155,255,0.25);
        border: 1px solid rgba(0,155,255,1);
        border-radius: var(--Flashcord-Border_Radius, 25px );
        padding: 1px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    [id^="message-accessories-"] article [class^="clickableWrapper-"] img,
    [id^="message-accessories-"] article [class^="imageContent-"],
    [id^="message-accessories-"] article [class^="imageContainer-"],
    [id^="message-accessories-"] article [class^="imageWrapper-"],
    [id^="message-accessories-"] article [class^="embedVideo-"] {
        max-width: unset !important;
        max-height: unset !important;
        border-radius: var(--Flashcord-Border_Radius, 25px );
    }

}

/* [END] = Flashcord Beta == Major General Modifications [00] ChatIn CSS = */