
/* [Start] = Flashcord Beta == Replugged Plugin Compatibility List CSS = */
.replugged-addon-cards {
    container-name: var(--FlashCore-RPCL, FC-RPCL);
    container-type: inline-size;
    contain: layout;
}
#rp-plugins-tab:before {
    content: "\A\A⚠️ As of right now, approved plugins may actually have minor issues with Flashcord.\A\A";
    white-space: pre;
    font-weight: 900;
    color: var(--text-normal);
}

@container FC-RPCL (min-width: 0px) {
    .replugged-addon-card:before {
        white-space: pre-wrap;
        content: "🔧 Flashcord Compatibility: ❓ Unknown\A\A";
        font-size: small;
        width: 100%;
        color: var(--text-normal);
    }
    .replugged-addon-card {
        display: grid;
    }

    .replugged-addon-card:has([href*="Magnificent"]):before {
        content: "🔧 Flashcord Compatibility: ⚠️ REQUIRED PLUGIN: Enhances the Imagivid Module\A\A";
    }
    .replugged-addon-card:has([href*="Magnificent"]) {
        order: -6948;
    }
    .replugged-addon-card:has([href*="dev.albertp.RoleDividers"]):before {
        content: "🔧 Flashcord Compatibility: ⚠️ REQUIRED PLUGIN: Enhances the UPFG Module\A\A";
    }
    .replugged-addon-card:has([href*="dev.albertp.RoleDividers"]) {
        order: -6948;
    }
    
    .replugged-addon-card:has([href*="dev.kingfish.InvisibleTyping"], [href*="dev.albertp.ChannelTyping"], [href*="dev.kingfish.BadgesEverywhere"], [href*="dev.tharki.ShowHiddenChannels"], [href*="com.cafeed28.NitroSpoof"], [href*="dev.tharki.LegalDiscordBypasses"], [href*="net.sammcheese.messageLogger"]):before {
        content: "🔧 Flashcord Compatibility: ❤️ Recommended\A\A";
    }
    .replugged-addon-card:has([href*="dev.kingfish.InvisibleTyping"], [href*="dev.albertp.ChannelTyping"], [href*="dev.kingfish.BadgesEverywhere"], [href*="dev.tharki.ShowHiddenChannels"], [href*="com.cafeed28.NitroSpoof"],[href*="dev.tharki.LegalDiscordBypasses"], [href*="net.sammcheese.messageLogger"]) {
        order: -512;
    }

    .replugged-addon-card:has([href*="dev.replugged.RevertRebrand"], [href*="net.saltssaumure.CRT"], [href*="dev.oirnoir.onekoanimation"], [href*="nyria.discolored"]):before {
        content: "🔧 Flashcord Compatibility: ✅ Compatible\A\A";
    }
    .replugged-addon-card:has([href*="dev.replugged.RevertRebrand"], [href*="net.saltssaumure.CRT"], [href*="dev.oirnoir.onekoanimation"], [href*="nyria.discolored"]) {
        order: -386;
    }

    .replugged-addon-card:has([href*="xyz.griefmodz.StatisticCounter"]):before {
        content: "🔧 Flashcord Compatibility: ⚠️ Minor Issues\A\A";
    }
    .replugged-addon-card:has([href*="xyz.griefmodz.StatisticCounter"]) {
        order: -256;
    }
}

/* [End] = Flashcord Beta == Replugged Plugin Compatibility List CSS = */
