/* This may not become a real theme, this is Flashcord but with only select features to try and have as less lag as possible */
























/* SNDL - Roboto Font Override  & Flashcord Variables */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root, body {
  --font-primary: "Roboto";
  --font-display: "Roboto";
  --font-headline: "Roboto";
  
  --Flashcord-Branch: "Flashcord Lite";
  --Flashcord-Channel: "bSID";
  --Flashcord-Version: "230722";
  background: #000000;
}

::-webkit-scrollbar, 
.arrow-2HswgU.icon-3zI3d2,
.wordmarkWindows-2dq6rw,
.closeButton-PCZcma svg,
.icon-2W8DHg,
.field-21XZwa.fieldSpacerBottom-3xUCTB,
.userInfo-regn9W .button-ejjZWC.lookFilled-1H2Jvj.colorBrand-2M3O3N.sizeSmall-3R2P2p.grow-2T4nbg,
.usernameRow-1x50RR:has(.h5-2feg8J.eyebrow-2wJAoF.fieldTitle-2g5r_V) h3,
.bannerSVGWrapper-2CLfzN mask,
.overflowMenuButton-1I3Jz1 {
  display: none;
}

html:not(:hover) * {
  --Enable-Animations: var(--Disable-Idle_Optimizations, 0);
  --BlurInt-Big: calc( var(--BlurInt-Big, 16px) * var(--Disable-Idle_Optimizations, 0) ) ;
  --BlurInt-Med: calc(var(--BlurInt-Med, 8px) * var(--Disable-Idle_Optimizations, 0)) ;
  --BlurInt-Sma: calc(var(--BlurInt-Sma, 4px) * var(--Disable-Idle_Optimizations, 0)) ;
  --AnimMult-Fast: calc(var(--AnimMult-Slow, 1) * var(--Disable-Idle_Optimizations, 0)) ;
  --AnimMult-Normal: calc(var(--AnimMult-Slow, 1) * var(--Disable-Idle_Optimizations, 0)) ;
  --AnimMult-Slow: calc(var(--AnimMult-Slow, 1) * var(--Disable-Idle_Optimizations, 0)) ;
}

/* Flashcord: SNDL Branding */
.platform-win body > :before {
    content: "🪟 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Report bugs in #🐞sgn-issues-reports on the SGN Discord Server.";
    color: var(--text-normal); font-size: 12px; position: absolute; top: 6px; left: 6px; font-weight: 900; opacity: 0.5;
  }
  .platform-linux #app-mount {
    margin-top: 24px;
    height: calc(100vh - 24px);
  }
  .platform-linux body > :before {
    content: "🐧 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Report bugs in #🐞sgn-issues-reports on the SGN Discord Server.";
    color: var(--text-normal); font-size: 12px; position: absolute; top: 6px; left: 6px; font-weight: 900; opacity: 0.5;
  }
  .sidebar-nqHbhN > :before {
    content: var(--Flashcord-Branch) "\A Version "var(--Flashcord-Channel) "-" var(--Flashcord-Version);
    padding: 10px;
    white-space: pre;
    opacity: 0.8;
    background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,127,0,1) 15%, rgba(255,255,0,1) 30%, rgba(0,255,0,1) 45%, rgba(0,0,255,1) 60%, rgba(170,0,170,1) 75%, rgba(255,170,255,1) 90%, rgba(255,0,0,1) 100%);
    background-size: 128vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: IridescentGradient calc(8s * var(--Enable-Animations, 1)) linear infinite !important;
    margin-bottom: 40px;
  }
  .platform-osx body:before {
    content: "Report bugs in #🐞sgn-issues-reports on the SGN Discord Server. | 🍎 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version) " " ;
    z-index: 100;
    color: #ffffff; font-size: 12px;
    position: absolute; 
    font-weight: 900; 
    opacity: 0.5;
    text-align: right; 
    width: 100vw;
    z-index: 100000000;
    display: flex;
    justify-content: flex-end;
    height: 32px;
    align-items: center;
    margin-left: -12px;
  }
  .platform-osx #app-mount {
    margin-top: 32px;
    height: calc(100vh - 32px);
  }
  .macDragRegion-3RTnKP {
    width: 100vw;
  }

/* Guild: Channel List Slide on Hover + Styling*/
  .sidebar-1tnWFu {
    z-index: 0;
    position: relative;
    margin-left: -6px;
  }
  .chat-2ZfjoI {
    margin-right: -200px;
    translate: -198px;
    transition: calc(250ms * var(--AnimMult-Normal, 1));
    overflow: visible;
  }
  .container-1eFtFS:has(.sidebar-1tnWFu:hover, .guilds-2JjMmN:hover) .chat-2ZfjoI {
    translate: 0px;
    transition: calc(250ms * var(--AnimMult-Normal, 1));
  }
  .name-3BUDLf {
    text-align: center;
  }
  .chat-2ZfjoI:has(.returnButton-1xn3Ii) .chat-2ZfjoI {
    margin-right: 0px;
    translate: 0px;
    transition: calc(250ms * var(--AnimMult-Normal, 1));
  }
  .guilds-2JjMmN { /* Compact Guild Channel List */
    width: 64px;
    margin-left: -1px;
    left: -5px;
  }

  /* Chat: Member List Slide on Hover */
    .container-2o3qEW {
      position: relative;
      margin-left: -190px;
      z-index: 10;
      height: 100%;
      translate: 190px;
      transition: calc(300ms * var(--AnimMult-Slow, 1));
    }
    .container-2o3qEW:hover {
      translate: 0px;
      transition: calc(300ms * var(--AnimMult-Slow, 1));
    }
    .member-2gU6Ar {
        margin-left: 0px;
    }
    .membersGroup-2eiWxl{  /* FC-L: Member List Role Aligned to Right and Compact Padding */
      text-align: right;
      padding: 8px 8px 0 64px;
      height: auto;
    }

    /* Flashcord - Settings Modal */
.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
    max-width: 220px;
    max-height: 100vh;
}
.contentColumn-1C7as6, .customColumn-2n-oKU, .contentRegion-3HkfJJ {
    max-width: 100%;
    min-width: 50%;
    max-height: 100%;
    min-height: 100%;
}

.theme-light {
    --background-primary: #FFFFFF;
    --background-secondary: #FFFFFF;
    --background-secondary-alt: #FFFFFF;
    --background-tertiary: #FFFFFF;
    --background-accent: #FF99FF;
    --background-floating: #FFF9FF;
    --background-nested-floating: ##FF0000; /* Unknown Location */
}

.theme-dark {
    --background-primary: #000000;
    --background-secondary: #000000;
    --background-secondary-alt: #000000;
    --background-tertiary: #000000;
    --background-accent: #660066;
    --background-floating: #666966;
    --background-nested-floating: ##FF0000; /* Unknown Location */
}

.contents-2MsGLg a[href="http://flashcord/small"], /* aSID-230714 */
.contents-2MsGLg a[href="http://flashcord/shake"], /* aSID-230714 */
.contents-2MsGLg a[href="http://flashcord/dramatic"], /* aSID-230714 */
.contents-2MsGLg a[href="http://flashcord/background/green"], /* aSID-230715 */
.contents-2MsGLg a[href="http://flashcord/background/red"], /* aSID-230715 */
.contents-2MsGLg a[href="http://flashcord/background/blue"], /* aSID-230715 */
.contents-2MsGLg a[href="http://flashcord/loud"], /* aSID-230717 */
.contents-2MsGLg a[href="http://flashcord/quiet"], /* aSID-230717 */
.contents-2MsGLg a[href="http://flashcord/fade-bottom"] /* aSID-230719 */ {
    position: absolute !important;
    display: none;
    visibility: hidden;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0rem;
}

.message-2CShn3:has(a[href="http://flashcord/small"]) {
    animation: FCME-Small calc(1s * var(--Enable-ChatEffects, 1));
    scale: 0.8;
    width: fit-content; height: fit-content;
}

.message-2CShn3:has(a[href="http://flashcord/shake"]) {
    animation: Shake calc(100ms * var(--Enable-ChatEffects, 1)) infinite;
}

@keyframes FCME-Small {
    0% { scale: 1; width: fit-content; height: fit-content;}
    100% { scale: 0.8;  width: fit-content; height: fit-content;}
}

.message-2CShn3:has(a[href="http://flashcord/dramatic"]) {
    animation: FCME-Dramatic calc(8s * var(--Enable-ChatEffects, 1)) ease-out;
}

@keyframes FCME-Dramatic {
    0% { scale: 0; opacity: 0; width: fit-content; height: fit-content;}
    25% { opacity: 1;}
    100% { scale: 1; opacity: 1; width: fit-content; height: fit-content;}
}

.messageListItem-ZZ7v6g:has(a[href="http://flashcord/background/green"]) {
    background-color: rgba(0,255,0,0.25);
}
.messageListItem-ZZ7v6g:has(a[href="http://flashcord/background/red"]) {
    background-color: rgba(255,0,0,0.25);
}
.messageListItem-ZZ7v6g:has(a[href="http://flashcord/background/blue"]) {
    background-color: rgba(0,0,255,0.25);
}

.message-2CShn3:has(a[href="http://flashcord/loud"]) {
    animation: FCME-Loud calc(1s * var(--Enable-ChatEffects, 1));
    width: fit-content; height: fit-content;
}
.message-2CShn3:has(a[href="http://flashcord/quiet"]) {
    animation: FCME-Quiet calc(8s * var(--Enable-ChatEffects, 1));
    width: fit-content; height: fit-content;
}


@keyframes FCME-Loud {
    0% { scale: 1; transform: rotate(0deg); margin: inherit;}
    5% { transform: rotate(-5deg);}
    10% { scale: 2; margin: auto; transform: rotate(5deg);}
    15% { transform: rotate(-5deg);}
    20% { transform: rotate(5deg);}
    25% { transform: rotate(-5deg);}
    30% { transform: rotate(5deg);}
    35% { transform: rotate(-5deg);}
    40% { transform: rotate(5deg);}
    45% { transform: rotate(-5deg);}
    50% { transform: rotate(5deg);}
    55% { transform: rotate(-5deg);}
    60% { transform: rotate(5deg);}
    65% { transform: rotate(-5deg);}
    70% { transform: rotate(5deg);}
    75% { transform: rotate(-5deg);}
    80% { transform: rotate(5deg); scale: 2; margin: auto;}
    85% { transform: rotate(-5deg);}
    89% { transform: rotate(0deg);}
    90% { margin: inherit;}
    100% { scale: 1;}
}

@keyframes FCME-Quiet {
    0% { scale: 1;}
    25% { scale: 0.6}
    75% { scale: 0.6;}
    100% { scale: 1;}
}

.message-2CShn3:has(a[href="http://flashcord/fade-bottom"]) {
    animation: Old-BottomFade calc(2s * var(--Enable-ChatEffects, 1));
}

@keyframes Old-BottomFade {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0vw);
    }
  }

        /* aSID-230715: Improved Image Focus Code */
        .focusLock-bHVOlV:has(.imageWrapper-oMkQl4)  .imageWrapper-oMkQl4:hover { 
            width: 90vw !important;
          }
          .focusLock-bHVOlV:has(.imageWrapper-oMkQl4) .imageWrapper-oMkQl4 { 
            height: auto !important;
            transition: calc(250ms * var(--AnimMult-Normal, 1)) !important;
          }
          .modal-3Crloo { 
            display: flex;
            justify-content: center;
            align-items: flex-start;
            overflow: scroll;
            flex-direction: row;
          }
          .focusLock-bHVOlV .imageWrapper-oMkQl4 > img, .focusLock-bHVOlV .imageWrapper-oMkQl4 > video {
            width: 100% !important;
            height: 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
            object-fit: contain;
            overflow: scroll;
          }
          .anchor-1X4H4q.anchorUnderlineOnHover-wiZFZ_.downloadLink-3cavAH {
            display: none;
          }
