/* Credit to https://github.com/Overimagine1/old-discord-font */

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/46933da896ba96126074286056614542.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/1651ce6325c0da043476ace0bec3971b.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/24bda95d153a319704c33329f3ab84bb.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/7f18f1d5ab6ded7cf71bbc1f907ee3d4.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/cf4a8a10bbdf9b775fad41e0b9921c84.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/9cfa747e897c772d25efd8e4a42a005e.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/f9e7047f6447547781512ec4b977b2ab.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/21070f52a8a6a61edef9785eaf303fb8.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/f9c8fcfa7dcc5d6a291a6ebbe3bb847e.woff2)
    format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/5e1649183589023fb24667a369af585d.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Normal;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/ab688947d482808a0b3347f84ebb17a9.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Normal;
  font-style: italic;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/0635f419b122d24f9f60ac4d1066cbc6.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Normal;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/91dcabd038a2e07ea6fbe7ddb625ecfb.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Normal;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/ea053183733605b24806f222b067b1e1.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Normal;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/9491a199bd318f1fc38711fb5067f401.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Normal;
  font-style: italic;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/f0cf30536a7fa447f0c45fdb3b2a6f28.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Normal;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/7d66dfcf8e39f27f163fba8d79577fd8.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Normal;
  font-style: italic;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/9a07cb5ae387a52309b7198543ae5e02.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/5e6f352adb4a6b55ed230f2f91769156.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: italic;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/30b475dcfa1e8b74d815946e4c18ee09.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/1ace668db419a5014cf75bc116321af3.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/50510b66614a2f395530c61b7c9b6827.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/9e94673570e295b6fb5d4456c4211015.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: italic;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/6603a2fb4d2bc997e023972a51938144.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/87c79174865938aedf188b7344fb0428.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: italic;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/d93311938f51e8608a5d5cb2ea975157.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: normal;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/bc5af8e71e27d363e2eeac75c9628922.woff2)
    format("woff2");
}
@font-face {
  font-family: ABC Ginto Nord;
  font-style: italic;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/dc407fd65057fce34a56bf7b6ebb0b9f.woff2)
    format("woff2");
}

:root {
  --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-headline: "ABC Ginto Nord", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  --font-korean: Whitney, "Apple SD Gothic Neo", NanumBarunGothic, "\B9D1\C740 \ACE0\B515",
    "Malgun Gothic", Gulim, 굴림, Dotum, 돋움, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-japanese: Whitney, "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3",
    "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-chinese-simplified: Whitney, "Microsoft YaHei New", 微软雅黑, "Microsoft Yahei",
    "Microsoft JhengHei", 宋体, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-chinese-traditional: Whitney, "Microsoft JhengHei", 微軟正黑體, "Microsoft JhengHei UI",
    "Microsoft YaHei", 微軟雅黑, 宋体, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
