.contentColumn-1C7as6:has(#replugged-quickcss-wrapper .cm-editor) .divider-3nqZNm:before {
  content: 'Flashcord Alpha is currently still in Closed Access. \A Come back later when it is publicly available!';
  position: absolute;
  top: 80px;
  white-space: pre;
}
