
/* [Start] = Flashcord Beta == Kernel - Serial CSS = */

/* General Information */
html.platform-win { --FlashCore-OS: "🪟 Windows" }
html.platform-osx { --FlashCore-OS: "🍎 MacOS" }
html.platform-linux { --FlashCore-OS: "🐧 GNU/Linux" }
html.replugged { --FlashCore-Client: "🔌 Replugged"; } /* Still not working yet if I recall, supposed to be inside a future update*/
html:has(#vencord-margins) { --FlashCore-Client: "✨ Vencord"; }
/* These look ugly and probably need optimizations */
html:has(body[class*="bd"]) { --FlashCore-Client: "🩹 BetterDiscord [UNSUPPORTED]"; }
html:has([content*="canary"]) { --FlashCore-Discord_Branch: "Canary"; }
html:has([content*="ptb"]) { --FlashCore-Discord_Branch: "Public Beta Test"; }

/* Theming Related Shenanigans */
html.theme-light { --FlashCore-Theme: "☀️ Light Mode"; }
html.theme-dark { --FlashCore-Theme: "🌙 Dark Mode"; }
html.theme-light.custom-theme-background { --FlashCore-Theme: "🎨 CBM-L Light Mode"; }
html.theme-dark.custom-theme-background { --FlashCore-Theme: "🎨 CBM-L Dark Mode"; }


[id^="message-content-"]:has(a[href="http://flashcord/debug"]) {
    line-height: 15px !important;
    border-radius: 25px;
    padding: 8px;
}
[id^="message-content-"]:has(a[href="http://flashcord/debug"])::after {
    color: white;
    font-size: smaller;
    white-space: pre-wrap;
    width: 100%;
    content: 
"\A\A🚧 FLASHCORD DEBUG INFORMATION 🚧\A \
This information is only visible to you, please screenshot it and send it to @SiriusBYT for debug purposes if needed. \A\A \
📸 -- Flashcord Information \A \
    🔄️ Branch: " var(--Flashcord-Branch) "\A \
    🔗 Channel: " var(--Flashcord-Channel) "\A \
    💡 Version: " var(--Flashcord-Version) "\A \
💬 -- Discord Client Information \A \
    🌳 Discord Branch: " var(--FlashCore-Discord_Branch, 'Stable') " \A \
    💻 Operating System: " var(--FlashCore-OS, '🚧 404 🚧') "\A \
    🎯 Client Modification: " var(--FlashCore-Client, '🚧 404 🚧 (Replugged?) ') "\A \
    🌈 Detected Theme: " var(--FlashCore-Theme, '🚧 404 🚧') "\A\A \
⚠️ Please also send the contents of your QuickCSS if you modified any Flashcord Variables. \A\A \
== End of Flashcord's Debug Information. == \A\A";
}

/* [End] = Flashcord Beta == Kernel - Serial CSS = */
