
/* [START] = Flashcord Beta == Kernel [03] CSS = */

body > :before,
body:before {
    color: var(--text-normal);
    font-size: 12px;
    position: absolute;
    top: 6px;
    left: 6px;
    font-weight: 900;
    opacity: 0.5;
    width: 100vw;
    backdrop-filter: brightness(2);
}

.platform-win body > :before {
    content: "🪟 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Report bugs in #🐞sgn-issues-reports on the SGN Discord Server.";
}

.platform-linux body > :before {
    content: "🐧 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Report bugs in #🐞sgn-issues-reports on the SGN Discord Server.";
}
.platform-linux #app-mount {
    margin-top: 24px;
    height: calc(100vh - 24px);
}

.platform-osx body:before {
    content: "Report bugs in #🐞sgn-issues-reports on the SGN Discord Server. | 🍎 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version) " " ;
    color: #ffffff;
    text-align: right; 
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
    margin-left: -12px;
}
.platform-osx #app-mount {
    margin-top: 32px;
    height: calc(100vh - 32px);
}
[class^="macDragRegion-"] {
    width: 100vw;
}


[class^="chat-"] [class^="children-"]:after {
    color: red;
    width: max-content;
    margin: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    border-radius: var(--Flashcord-Border_Radius, 25px);
    white-space: pre;
}
.theme-dark [class^="chat-"] [class^="title-"] [class^="children-"]:after {
    content: var(--Flashcord-Warnings,"  ⚠️ Flashcord LPM is in Alpha. 🌙 Dark Mode is unfinished.  ");
}
  
.theme-light [class^="chat-"] [class^="title-"] [class^="children-"]:after {
    content: var(--Flashcord-Warnings,"  ⚠️ Flashcord LPM is in Alpha.  ");
}


/* [END] = Flashcord Beta == Kernel [03] CSS = */
