
/* [Start] = Flashcord Beta == Custom Theme: Iridescent Mode CSS = */

    @container FC-SPGO_AT (min-width: 0px) {
        [class^="themeSelectionContainer-"]:has([class^="themeSelection-"][style*="--bg-gradient-citrus-sherbert"]), /* IRIDESCENT LIGHT */
        [class^="themeSelectionContainer-"]:has([class^="themeSelection-"][style*="--bg-gradient-chroma-glow"]) {
          display: block !important;
          border-radius: 25px;
          width: 100%;
          height: 24vh;
          margin: auto;
          translate: 2px 2px;
        }
        
        /* Advanced Theme: Irdescent */
        [class^="themeSelection-"][style*="--bg-gradient-citrus-sherbert"] {
            background-image: url("https://sirio-network.com/flashcord/ressources/backgrounds/PSWave.png") !important;
            background-position-y: center !important;
            background-size: 100vw !important;
            border-radius: 25px;
            animation: FlashCore-BackXMTL var(--Flashcord-AnimMult-XTSlow, 2s) linear infinite !important;
        }
        [class^="themeSelection-"][style*="--bg-gradient-citrus-sherbert"]:before {
            content: "Iridescent Mode (Light Mode) \A Unavailable in Flashcord LPM";
        }
        [class^="themeSelection-"][style*="--bg-gradient-chroma-glow"] {
            background-image: url("https://sirio-network.com/flashcord/ressources/backgrounds/PSWave-Inverted.png") !important;
            background-position-y: center !important;
            background-size: 100vw !important;
            border-radius: 25px;
            animation: FlashCore-BackXMTL var(--Flashcord-AnimMult-XTSlow, 2s) linear infinite !important;
        }
        [class^="themeSelection-"][style*="--bg-gradient-chroma-glow"]:before {
            content: "Iridescent Mode (Dark Mode) \A Unavailable in Flashcord LPM";
        }
        [class^="themeSelectionContainer-"]:has([style*="--bg-gradient-citrus-sherbert"]) {
            order: -23;
        }
        [class^="themeSelectionContainer-"]:has([style*="--bg-gradient-chroma-glow"]) {
            order: -22;
        }
    }


/* [Start] = Flashcord Beta == Custom Theme: Iridescent Mode CSS = */
