
/* [Start] = Flashcord Beta == Custom Theme: Transparent Mode CSS = */

    @container FC-SPGO-AT (min-width: 0px) {
        [class^="themeSelectionContainer-"]:has([class^="themeSelection-"][style*="--bg-gradient-sepia"]) /* TRANSPARENT */ {
            display: block !important;
            border-radius: 25px;
            width: 100%;
            height: 24vh;
            margin: auto;
            translate: 2px 2px;
        }

        /* Advanced Theme: Transparent */
        [class^="themeSelection-"][style*="bg-gradient-sepia"] {
            background: unset !important;
            background-image: url("https://sirio-network.com/flashcord/ressources/backgrounds/theme-transparent.png") !important;
            filter: brightness(0.25);
            background-position: center !important;
            background-size: cover !important;
            border-radius: 25px;
        }
        [class^="themeSelection-"][style*="--bg-gradient-sepia"]:before {
            content: "Transparent Mode \A Unavailable in Flashcord LPM";
        }
        [class^="themeSelectionContainer-"]:has([style*="--bg-gradient-sepia"]) {
            order: 0;
        }
    }
    

/* [Start] = Flashcord Beta == Custom Theme: Transparent Mode CSS = */
