
/* [START] = Flashcord Beta == Major General Modifications [00] ChatIn CSS = */

/* Imagivid Zoom Core: Note, animations nerfed (well removed) */
[class^="layer_"]:has([class^="focusLock_"] [class*="downloadLink_"]) {
    container-name: var(--FlashCore-ImagividZoom, FC-ImagividZoom);
    container-type: inline-size;
}

@container FC-ImagividZoom (min-width: 0px) {
    [class^="focusLock_"] [class^="imageWrapper_"]:hover { 
        width: 90vw !important;
    }
    [class^="focusLock_"] [class^="imageWrapper_"] { 
        height: auto !important;
    }
    [class^="focusLock_"] [class^="imageWrapper_"] [class^="wrapper-"] { 
        width: auto !important;
        height: auto !important;
    }
    [class^="focusLock_"] > div { 
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: scroll;
        flex-direction: row;
    }
    [class^="carouselModal_"] {
        justify-content: flex-start !important;
    }
    [class^="focusLock_"] img, [class^="focusLock_"] video, [class^="imageWrapper_"] [class^="wrapper_"] {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
        object-fit: contain;
        overflow: scroll;
    }
    [class^="anchor_"] {
        display: none;
    }
    [class*="modalCarouselWrapper_"] {
        -webkit-box-align: unset !important;
        align-items: unset !important;
        margin: auto;
        position: static;
    }
    [class*="modalCarouselWrapper_"] button {
        margin: 0;
    }
}

ol[class^="scrollerInner_"] {
    container-name: var(--FlashCore-ChatEdits, FC-ChatEdits);
    container-type: inline-size;
}
@container FC-ChatEdits (min-width: 0px) {
    /* Better Link Embeds */
    [id^="message-accessories-"]:has(article) {
        display: flex;
        flex-wrap: wrap;
    }
    [id^="message-accessories-"] article {
        overflow: scroll;
        border-radius: var(--Flashcord-Border_Radius, 25px);
        align-self: unset;
        max-width: unset !important;
        flex: 1 1 25%;
        display: block;
        min-width: 256px;
        margin: 8px;
    }
    [class^="mediaAttachmentsContainer_"] {
        width: auto;
        height: auto;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    [id^="message-accessories-"]:has(article):has([class^="reactions_"]) {
        margin-bottom: 2rem;
    }
    [id^="message-accessories-"]:has(article) .reactions_b8dc93 { /* [!] FC-Wildcard_PerfNuker */
        position: absolute;
        translate: 0 1.75rem;
        bottom: 0;
    }
    [class^="gridContainer_"] {
        max-width: unset;
    }
}

/* [END] = Flashcord Beta == Major General Modifications [00] ChatIn CSS = */