
/* [START] = Flashcord Beta == Major General Modifications [00] ChatEx CSS = */

/* Channel Slide Core */
[class^="layers_"] > [class^="layer_"]:nth-child(1) {
  container-name: var(--FlashCore-ChatSlide, FC-ChatSlide_SNDL);
  container-type: inline-size;
}
[class^="layer_"]:nth-child(1):has([class*="threadSidebarOpen_"]) {
  container-name: FC-VOID;
}

@container FC-ChatSlide_SNDL (min-width: 0px) {
  [class*="sidebar_"] {
      z-index: 0;
  }
  [class^="chat_"]:not(:has([class^="pageBody_"])) {
      margin-right: -200px;
      translate: -198px;
      transition-property: translate;
      transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
  }
  :is([class^="container_"]:has([class*="sidebar_"]:hover, [data-list-id="guildsnav"]:hover)) .chat__52833 { /* [!] FC-Wildcard_PerfNuker */
      translate: 0px;
      /*will-change: translate;*/
  }
  [class^="chat_"]:has([class^="pageBody-"]) {
    margin-right: 0;
    translate: 0;
  }
}

/* Member Slide Core */
[class^="chat_"] {
    container-name: var(--FlashCore-MemberSlide, FC-MemberSlide);
    container-type: inline-size;
}

@container FC-MemberSlide (min-width: 0px) {
    [class^="membersWrap_"] { height: 100%; }
    [class^="container_"]:has([class^="membersWrap_"]) {
        position: relative;
        margin-left: -190px;
        translate: 190px;
        z-index: 1;

        transition-property: translate;
        transition-duration: var(--Flashcord-TransMult-Normal, 250ms);
    }
    [class^="container_"]:has([class^="membersWrap_"]:hover) { translate: 0px; }
    [class^="member_"] { margin-left: 0px; }
    [class^="member_"] > div {
        border-radius: var(--Flashcord-Border_Radius, 25px) !important;
    }
}

/* GuildNav_Compact Core */

[class^="container_"]:has([data-list-id="guildsnav"]) {
  container-name: var(--FlashCore-GuildNav_Compact, FC-GuildNav_Compact);
  container-type: inline-size;
}

@container FC-GuildNav_Compact (min-width: 0px) {
  nav[class^="wrapper_"] { width: 60px; }
  [data-list-id="guildsnav"] > [class^="scroller_"] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  [class^="listItem_"] { margin: 0; }
  foreignObject { border-radius: var(--Flashcord-Border_Radius, 25px); }
  [id^="folder-items-"] { height: auto !important; }
  [class^="listItem_"] { scale: 0.9; }
  [class^="listItem_"]:has([class^="guildSeparator_"]) { display: none; }
  [class^="pill_"] { left: 4px !important; } /* Pill Bugfix */
}

@container FC-GuildNav_Compact-Horizontal (min-width: 0px) {
  [class^="base_"] { margin-top: 60px; }
  nav[class^="wrapper_"] { 
    left: -58px;
    width: 60px;
    position: absolute;
    z-index: 1;
    rotate: -90deg;
    transform-origin: right top;
  }
  [data-list-id="guildsnav"] > [class^="scroller_"] {
    padding: 0 !important;
    height: 100vw;
  }
  [class^="listItem_"] {
    rotate: 90deg;
    margin: 0;
  }
  foreignObject { border-radius: var(--Flashcord-Border_Radius, 25px); }
  [class^="listItem_"] { scale: 0.9; }
  [id^="folder-items-"] { height: auto !important; }
  [class^="listItem_"]:has([class^="guildSeparator_"]) { display: none; }
}

/* ChannelNav_Compact Core */
[class^="content_"] > [class^="sidebar_"] {
  container-name: var(--FlashCore-ChannelNav_Compact, FC-ChannelNav_Compact);
  container-type: inline-size;
}

@container FC-ChannelNav_Compact (min-width: 0px) {
  li > div > div > a,
  [class^="emojiColorFill_"],
  li,
  [class^="container_"] [class^="link_"],
  [class^="channel_"] {
    scale: 0.95;
    translate: -4px;
    margin: -1px 0px -1px 0px;
    border-radius: var(--Flashcord-Border_Radius, 25px);
    transition-property: scale, background-color !important;
    transition-duration: var(--Flashcord-TransMult-Fast, 125ms) !important;
  }
  [class^="container_"] [class^="link_"]:hover {
    background: unset !important;
  }

  li:has([class^="channelEmoji_"]) .name__8d1ec { /* [!] FC-Wildcard_PerfNuker */
    text-align: left !important;
    /*text-transform: capitalize;*/
  }

  [class^="emojiColorFill_"] { width: 240px; }
  [class^="name_"] { text-align: center !important; }
  li:has(h3) { margin: 4px; }
  [class^="container_"] [class^="name_"] { text-align: left; }
  [class^="arrow_"], [class^="addButtonIcon_"], [class^="children_"] [class^="iconItem_"] { display: none !important; }
  [class^="iconContainer_"] {
    position: absolute !important;
    translate: 126px;
    scale: 0.8;
  }
  li[role="button"] [class^="iconContainer_"],
  li[role="listitem"] [class^="iconContainer_"] {
    translate: 0 !important;
  }
}

/* ChannelNav_Glow Core */
#channels {
  container-name: var(--FlashCore-ChannelNav_Notification, FC-ChannelNav_Static);
  container-type: inline-size;
}

@container FC-ChannelNav_Static (min-width: 0px) {
  [class^="containerDefault_"]:has([class^="mentionsBadge_"]) {
   background: var(--Flashcord-ChannelNav_Color-Mention, rgba(255,0,0,0.5));
  }
  [class^="channelInfo_"] { 
    translate: -106px;
    display: block !important;
  }
  [class^="children_"] { position: absolute;}
  [class^="unread_"] { 
    border-radius: var(--Flashcord-Border_Radius, 25px);
    translate: 13px 4px;
    width: 24px;
    height: 24px;
    top: 0;
    margin: 0;
    background: var(--Flashcord-ChannelNav_Color-Unread, rgba(0,0,255,0.5));
  }
}

/* [END] = Flashcord Beta == Major General Modifications [00] ChatEx CSS = */