/* Minor/DeNitrofy attempts to remove the flashy and annoying nature of Discord Nitro stuff */

[class^="appAsidePanelWrapper_"] {
    container-name: var(--Flashcord-Module_DeNitrofy, FCM-DeNitrofy);
    container-type: inline-size;
} @container FCM-DeNitrofy (min-width: 0) {
    /* DMs: Remove junk tabs */
    [class^="channel_"]:has([href="/store"], [href="/shop"]) { display: none; }

    /* Remove Gift Button from Chat Bar, except it's currently broken and I'm completely out of time to fix this module */

    /* Straight to the point Nitro Tab */
    #discord-nitro-tab :is([class*="settingsHero_"], [class*="premiumFeatureBannerBackground_"], [class^="perksContainer_"], [class^="planComparisonTableContainer_"], [class^="wrapper_"], [class^="imageWrapper_"], [class^="footerSpacing_"]) { display: none; }
    #discord-nitro-tab [class^="premiumTierCardsContainerSettings_"] { margin: 0;max-width: unset; }
    #discord-nitro-tab { display: flex; justify-content: center; align-items: center; }

    /* Straight to the point User Settings Server Boost Tab */
    #nitro-server-boost-tab [class^="content_"] :is([class^="wrapper_"]:first-of-type, [class^="wrapper_"]:nth-last-of-type(2) ) { display: none; }
    #nitro-server-boost-tab [class^="sparkle_"] { display: none; }

    /* Straight to the point Guild Server Boost Status */
    #guild_premium-tab > :is([class^="divider_"], [class^="wrapper_"], [class^="tier0Container_"]) { display: none; }

    /* Nitro Nukers: May accidentally remove unintended things */
    [class*="premiumFeatureBannerBackground_"] { display: none; }
}