/* This file is terrific. Makes global changes that cannot be reverted. */

/* i forgor what this do 
[class^="sidebar_"]::after {
    display: none;
}
*/

/* Gets rid of the annoying border which makes CBM ugly */
section[class^="panels_"] {
    border: none !important;
}

/* Fixes the weird ass bug of the resize bar being on top of literally everything */
.visual-refresh [class^="sidebar_"] > [class^="sidebarResizeHandle_"] {
    z-index: 1;
}