
/* [START] = Flashcord Beta == Kernel [03] CSS = */

body > :before,
body:before {
    color: var(--text-normal);
    font-size: 12px;
    position: absolute;
    top: 6px;
    left: 6px;
    font-weight: 900;
    opacity: 0.5;
    width: 100vw;
    backdrop-filter: brightness(2);
}

.platform-win body > :before {
    content: "🪟 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Report bugs in #🐞sgn-issues-reports on the SGN Discord Server.";
}

.platform-linux body > :before {
    content: "🐧 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Report bugs in #🐞sgn-issues-reports on the SGN Discord Server.";
}
.platform-linux #app-mount {
    margin-top: 24px;
    height: calc(100vh - 24px);
}

.platform-osx body:before {
    content: "Report bugs in #🐞sgn-issues-reports on the SGN Discord Server. | 🍎 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version) " " ;
    color: #ffffff;
    text-align: right; 
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
    margin-left: -12px;
}
.platform-osx #app-mount {
    margin-top: 32px;
    height: calc(100vh - 32px);
}
[class^="macDragRegion_"] {
    width: 100vw;
}


[class^="chat_"] [class^="children_"]:after {
    color: red;
    width: max-content;
    margin: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    border-radius: var(--Flashcord-Border_Radius, 25px);
    white-space: pre;
}
.theme-dark [class^="chat_"] [class^="title_"] [class^="children_"]:after {
    content: var(--Flashcord-Warnings,"  ⚠️ Flashcord is in Beta. 🌙 Dark Mode is unfinished.  ");
}
  
.theme-light [class^="chat_"] [class^="title_"] [class^="children_"]:after {
    content: var(--Flashcord-Warnings,"  ⚠️ Flashcord is in Beta.  ");
}

@container FC-ControlPanel_PopUp (min-width: 0px) {
    [class^="layer_"]:nth-child(2) [class^="sidebar_"] > :before {
        content: var(--Flashcord-Branch) "\A Version "var(--Flashcord-Channel) "-" var(--Flashcord-Version);
        padding: 10px;
        white-space: pre;
        opacity: 0.8;
        background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,127,0,1) 15%, rgba(255,255,0,1) 30%, rgba(0,255,0,1) 45%, rgba(0,0,255,1) 60%, rgba(170,0,170,1) 75%, rgba(255,170,255,1) 90%, rgba(255,0,0,1) 100%);
        background-size: 100vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: FlashCore-BackXMTL calc(4s * var(--Flashcord-Animations, 1)) linear infinite !important;
        margin-bottom: var(--Flashcord-SplashMAR, 20px);
    }
    
    [class^="layer_"]:nth-child(2) [class^="sidebarRegionScroller_"]:after {
        position: absolute;
        content: var(--Flashcord-Splash);
        transform: rotate(-2deg) scale( var(--Flashcord-SplashSca) ) translateX( var(--Flashcord-SplashTrX) ) translateY( var(--Flashcord-SplashTrY) ) !important;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0px;
        white-space: pre;
        color: #CCCC00;
        margin: 0px;
        width: 1px;
        left: 105px;
        top: 48px;
        animation: FlashCore-Splash var(--Flashcord-AnimMult-Slow, 500ms) ease-in-out infinite;
        animation-direction: alternate;
    }
}

/*
[class^="messageListItem-"]:nth-last-child(-n + 33 ) [class^="message-"] {
    container-name: var(--Flashcord-Badges, FC-Badges);
    container-type: inline-size;
    contain: paint;
}

@container FC-Badges (min-width: 0px) {
    h3:before {
        background-size: 100vw !important;
        border-radius: var(--Flashcord-Border_Radius, 25px);
        text-align: center;
        margin-right: 6px;
        white-space: pre;
        color: white;
    }
    [class^="contents-"]:has([src*="760781212511502336"], [src*="879808704206237776"], [src*="816129557442461747"], [src*="754348522026958948"], [src*="134142022092062720"], [src*="1025214794766221384"], [src*="516750892372852754"], [src*="285329659023851520"], [src*="786973560563957780"], [src*="403195964241739776"], [src*="573613510060146708"], [src*="705853948052897813"], [src*="327639826075484162"], [src*="538487970408300544"]) h3:before {
        content: " ✅ ";
        background: rgba(0,255,0,0.25);
    }
    [class^="contents-"]:has([src*="249560843639848970"], [src*="865192192820510721"]) h3:before {
        content: " 📸 ";
        background: var(--text-normal);
    }
    [class^="contents-"]:has([src*="587988801532723211"], [src*="470626055477133323"], [src*="275002623378063371"], [src*="113934571418025985"]) h3:before {
        content: " 📸 ";
        background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,127,0,1) 15%, rgba(255,255,0,1) 30%, rgba(0,255,0,1) 45%, rgba(0,0,255,1) 60%, rgba(170,0,170,1) 75%, rgba(255,170,255,1) 90%, rgba(255,0,0,1) 100%);
        animation: FlashCore-BackXMTL calc(2s * var(--Flashcord-Animations, 1) ) linear infinite;
    }
    [class^="contents-"]:has([src*="311057290562371586"]) h3:before {
        content: " 📸 Flashcord Creator ";
        background-image: linear-gradient(90deg, rgba(0,255,255,0.5) 0%, rgba(255,0,255,0.5) 25%, rgba(255,255,0,0.5) 50%, rgba(255,0,255,0.5) 75%, rgba(0,255,255,0.5) 100%);
        animation: FlashCore-BackXMTL calc(2s * var(--Flashcord-Animations, 1) ) linear infinite;
    }
    [class^="contents-"]:has([src*="249560843639848970"]) h3:before {
        content: " 💸 Flashcord Supporter " !important;
        background-image: linear-gradient(90deg, rgba(0,255,255,0.5) 0%, rgba(255,0,255,0.5) 25%, rgba(255,255,0,0.5) 50%, rgba(255,0,255,0.5) 75%, rgba(0,255,255,0.5) 100%) !important;
        animation: FlashCore-BackXMTL calc(2s * var(--Flashcord-Animations, 1) ) linear infinite !important;
    }
}*/


/* [END] = Flashcord Beta == Kernel [03] CSS = */
