
/* [Start] = Flashcord Beta == Custom Theme: Iridescent Mode CSS = */

[theme-hooker="theme-citrus-sherbert"], [theme-hooker="theme-chroma-glow"] {
    --bg-overlay-color: transparent;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --bg-overlay-1: transparent;
    --bg-overlay-2: transparent;
    --bg-overlay-3: transparent;
    --bg-overlay-4: transparent;
    --bg-overlay-5: transparent;
    --bg-overlay-6: transparent;
    --FlashCore-Brightness: 0.5;

    --FlashCore-ChatSlide: FC-ChatSlide_Legacy;
}

@container FC-Theme_Hooker (min-width: 0px) {
    @container FC-SPGO_AT (min-width: 0px) {
        section > [class^="header-"] > :before {
            content: "⚠️ Advanced Themes require LegalDiscordBypasses or Discord Nitro to enable them. \A ✅ ThemeHooker is present and has enabled new themes." !important;
          }

        [class^="themeSelectionContainer-"]:has([class^="themeSelection-"][style*="--bg-gradient-citrus-sherbert"]), /* IRIDESCENT LIGHT */
        [class^="themeSelectionContainer-"]:has([class^="themeSelection-"][style*="--bg-gradient-chroma-glow"]) {
          display: block !important;
          border-radius: 25px;
          width: 100%;
          height: 24vh;
          margin: auto;
          translate: 2px 2px;
        }
        
        /* Advanced Theme: Irdescent */
        [class^="themeSelection-"][style*="--bg-gradient-citrus-sherbert"] {
            background-image: url("https://sirio-network.com/sbin/PSWave-Light.png") !important;
            background-position-y: center !important;
            background-size: 100vw !important;
            border-radius: 25px;
            animation: FlashCore-BackXMTL var(--Flashcord-AnimMult-XTSlow, 2s) linear infinite !important;
        }
        [class^="themeSelection-"][style*="--bg-gradient-citrus-sherbert"]:before {
            content: "Iridescent Mode (Light Mode)";
        }
        [class^="themeSelection-"][style*="--bg-gradient-chroma-glow"] {
            background-image: url("https://sirio-network.com/sbin/PSWave-Dark.png") !important;
            background-position-y: center !important;
            background-size: 100vw !important;
            border-radius: 25px;
            animation: FlashCore-BackXMTL var(--Flashcord-AnimMult-XTSlow, 2s) linear infinite !important;
        }
        [class^="themeSelection-"][style*="--bg-gradient-chroma-glow"]:before {
            content: "Iridescent Mode (Dark Mode)";
        }
        [class^="themeSelectionContainer-"]:has([style*="--bg-gradient-citrus-sherbert"]) {
            order: -23;
        }
        [class^="themeSelectionContainer-"]:has([style*="--bg-gradient-chroma-glow"]) {
            order: -22;
        }
    }

    [theme-hooker="theme-citrus-sherbert"],
    [theme-hooker="theme-chroma-glow"] {
        background-repeat: repeat-x !important;
        background-size: 100vw !important;
    }
    [theme-hooker="theme-citrus-sherbert"] {
        background-image: var(--Flashcord-Iridescent_Light-Image, url("https://sirio-network.com/sbin/PSWave-Light.png") ) !important;
        background-color: #FFFFFF;
        animation: FlashCore-BackXMTL var(--Flashcord-AnimMult-XTSlow, 2s) linear infinite !important;
    }
    [theme-hooker="theme-chroma-glow"] {
        background-image: var(--Flashcord-Iridescent_Dark-Image, url("https://sirio-network.com/flashcord/ressources/backgrounds/PSWave-Inverted.png") ) !important;
        background-color: #000000;
        animation: FlashCore-BackXMTL var(--Flashcord-AnimMult-XTSlow, 2s) linear infinite !important;
    }
    [theme-hooker="theme-citrus-sherbert"] [class^="chat-"] [class^="title-"] [class^="children-"]:after,
    [theme-hooker="theme-chroma-glow"]  [class^="chat-"] [class^="title-"] [class^="children-"]:after {
        content: var(--Flashcord-Warnings,"  ⚠️ Flashcord is in Beta. 💥 Iridescent Mode is unfinished.  ") !important;
    }
    [theme-hooker="theme-citrus-sherbert"] [class^="tooltip-"] { outline: 1px solid var(--Flashcolord-Light_Accent); }
    [theme-hooker="theme-chroma-glow"] [class^="tooltip-"] { outline: 1px solid var(--Flashcolord-Dark_Accent); }
    
    [theme-hooker="theme-citrus-sherbert"], [theme-hooker="theme-chroma-glow"] {
        container-name: FC-Theme_Iridescent !important;
        container-type: inline-size;
    }

    @container FC-ControlPanel_PopUp (min-width: 0px) {
        [theme-hooker="theme-citrus-sherbert"] [class^="layer-"]:nth-child(2) {
            border: 1px solid var(--Flashcolord-Light_Accent);
            background-image: url("https://sirio-network.com/flashcord/ressources/backgrounds/BasicGrid-White_Fast.gif");
            background-size: cover;
        }

        [theme-hooker="theme-chroma-glow"] [class^="layer-"]:nth-child(2) {
            border: 1px solid var(--Flashcolord-Dark_Accent);
            background-image: url("https://sirio-network.com/flashcord/ressources/backgrounds/BasicGrid-Dark_Fast.gif");
            background-size: cover;
        }
    }

    @container FC-Theme_Iridescent (min-width: 0px) {
        @container FC-MemberSlide (min-width: 0px) {
            [class^="membersWrap-"]::before { /* May be a performance issue? Blame chrome, I fucking hate chrome's fucking bullshit backdrop-filter bug so much I'm going to fucking piss on the moon right this fucking instant */
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: -1;
      
              transition-property: backdrop-filter;
              transition-duration: var(--Flashcord-TransMult-Normal, 250ms);
            }
            [class^="membersWrap-"]:hover::before { /* Firefox instead of Electron When? */
                backdrop-filter: blur(16px);
            }
          }

        [class^="appAsidePanelWrapper-"]::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
        [theme-hooker="theme-citrus-sherbert"] [class^="appAsidePanelWrapper-"]::before {
            backdrop-filter: var(--Flashcord-Iridescent_Light-Filter, blur(4px) brightness(1));
        }
        [theme-hooker="theme-chroma-glow"] [class^="appAsidePanelWrapper-"]::before {
            backdrop-filter: var(--Flashcord-Iridescent_Dark-Filter, blur(4px) brightness(0.5));
        }

        @container FC-ChatSlide_Legacy (min-width: 0px) {
            [class^="chat-"] > section, [class^="chat-"] > div, [class^="chat-"] {
                background: transparent !important;
            }
        }
        @container FC-PM (min-width: 0px) {
            [class*="menu"] {
                transition: outline-width 250ms;
            }
            [theme-hooker="theme-citrus-sherbert"] [class*="menu"] { 
                outline: 1px solid var(--Flashcolord-Light_Accent); 
                background: rgba(255,255,255,0.5);
            }
            [theme-hooker="theme-chroma-glow"] [class*="menu"] { 
                outline: 1px solid var(--Flashcolord-Dark_Accent); 
                background: rgba(0,0,0,0.5);
            }
            [class*="menu"]:hover {
                outline-width: 2px;
            }

            [class^="scroller-"]::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                backdrop-filter: var(--Flashcord-Iridescent_Light-Filter, blur(4px) brightness(1));
                z-index: -1;
                border-radius: var(--Flashcord-Border_Radius, 25px);
            }

        }
    }
}


/* [Start] = Flashcord Beta == Custom Theme: Iridescent Mode CSS = */
