
/* [START] = Flashcord Beta == Major General Modifications [00] ChatEx CSS = */

/* Channel Slide Core */
[class^="layers_"] > [class^="layer_"]:nth-child(1) {
    container-name: var(--FlashCore-ChatSlide, FC-ChatSlide_SNDL);
    container-type: inline-size;
    contain: paint;
}
[class^="layer_"]:nth-child(1):has([class*="threadSidebarOpen_"]) {
    container-name: FC-VOID;
}

@container FC-ChatSlide_SNDL (min-width: 0px) {
    [class*="sidebar_"] {
        z-index: 0;
    }
    [class^="chat_"]:not(:has([class^="pageBody_"])) {
        margin-right: -200px;
        translate: -198px;
        transition-property: translate;
        transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
    }
    :is([class^="container_"]:has([class*="sidebar_"]:hover, [data-list-id="guildsnav"]:hover)) .chat__52833 { /* [!] FC-Wildcard_PerfNuker */
        translate: 0px;
        /*will-change: translate;*/
    }
    [class^="chat_"]:has([class^="pageBody-"]) {
      margin-right: 0;
      translate: 0;
    }
}

@container FC-ChatSlide_Legacy (min-width: 0px) {
    [class^="sidebar_"] {
      width: 48px;
      transition-property: width;
      transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
    }
    :is([class*="baseLayer"]:has([class*="guilds-"]:hover, [class^="sidebar_"]:hover), [class^="notAppAsidePanel-"]:has([id*="guild-"])) .sidebar_ded4b5 {  /* [!] FC-Wildcard_PerfNuker */
      width: 240px;
      /*will-change: width;*/
    }
    [class^="newChannel_"] { display: none; }
    /* DISABLED: Will be entirely rewritten in the November Update
    nav :is([class^="name_"], [class^="spineBorder-"]) {
      opacity: 0;
      transition-property: opacity;
      transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
    }
    nav:hover :is([class^="name_"], [class^="spineBorder-"]),
    [class*="baseLayer"]:has([class*="guilds-"]:hover) :is(.overflow-1wOqNV, .name__8d1ec, .spineBorder-1-F4s1) {
      opacity: 1 !important;
      display: unset;
    } */
    /* performance hell down below
    nav[class^="container_"] div[class^="name_"],
    nav[class^="container_"] [class^="spine-"],
    nav[class^="container_"] [class^="spineBorder-"],
    [class^="voiceChannelsButton-"],
    [class^="wrapper_"]:has([d="M30.6666 24.9644L35.1111 20.5199V31C35.1111 32.1046 34.2156 33 33.1111 33H32.6666C31.562 33 30.6666 32.1046 30.6666 31V24.9644Z"]),
    [class^="sidebar_"] :is(h1, h2, h3, h4, h5, h6, p, span, button) {
      opacity: 0;
      transition-property: opacity;
      transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
    }
    [class*="baseLayer"]:has([class*="guilds-"]:hover, [class^="sidebar_"]:hover, nav:hover) :is(.name__8d1ec, .spine-29OFwR, .spineBorder-1-F4s1, .voiceChannelsButton-SRmgo8, .wrapper_3Hk9OB, .sidebar_ded4b5 :is(h1, h2, h3, h4, h5, h6, p, span, button)),
    [class^="notAppAsidePanel-"]:has([id*="guild-"]) :is(.name__8d1ec, .spine-29OFwR, .spineBorder-1-F4s1) {
      opacity: 1 !important;
    }*/
}

/* Member Slide Core */
[class^="chat_"] {
    container-name: var(--FlashCore-MemberSlide, FC-MemberSlide);
    container-type: inline-size;
    contain: paint;
}

@container FC-MemberSlide (min-width: 0px) {
    [class^="membersWrap_"] { height: 100%; }
    [class^="container_"]:has([class^="membersWrap_"]) {
        position: relative;
        margin-left: -190px;
        translate: 190px;
        z-index: 1;

        transition-property: translate;
        transition-duration: var(--Flashcord-TransMult-Normal, 250ms);
    }
    [class^="container_"]:has([class^="membersWrap_"]:hover) { translate: 0px; }
    [class^="member_"] { margin-left: 0px; }
    [class^="member_"] > div {
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: var(--Flashcord-Border_Radius, 25px) !important;
        transition-property: scale, translate;
        transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
    }
    [class^="member_"]:hover > div {
        scale: 1.05;
        translate: 6px;
        /*will-change: scale, translate;*/
    }
    [class^="membersGroup_"] {  
        text-align: right;
        padding: 8px 8px 0 64px;
        height: auto;
        opacity: 0.25;

        transition-property: opacity;
        transition-duration: var(--Flashcord-TransMult-Slow, 500ms);
    }
    [class^="membersGroup_"]:hover { opacity: 1; }
}

/* GuildNav_Glow Core */

[data-list-id="guildsnav"] {
    container-name: var(--FlashCore-GuildNav_Notification, FC-GuildNav_Animated);
    container-type: inline-size;
    contain: paint;
}

@container FC-GuildNav_Animated (min-width: 0px) {
    [class^="listItem_"] {
        transition-property: scale, filter !important;
        transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
    }
    [class^="listItem_"]:has([style*="height: 8px"], [class^="lowerBadge-"]), [class^="listItem_"]:hover {
        scale: 0.975;
        animation: Flashcord-GuildPulse var(--Flashcord-AnimMult-XSlow, 1s) linear reverse infinite;
        /*will-change: scale, filter;*/
    }
    [class^="pill_"] {  
        display: none;
    }
}

@container FC-GuildNav_Static (min-width: 0px) {
  [class^="listItem_"] {
      transition-property: scale, filter !important;
      transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
  }
  [class^="listItem_"]:has([style*="height: 8px"], [class^="lowerBadge-"]), [class^="listItem_"]:hover {
      scale: 0.975;
      filter: drop-shadow(0 0 var(--Flashcord-GuildShadow_Size, 4px) var(--Flashcord-GuildShadow_Unread, #0000FF));
      /*will-change: scale, filter;*/
  }
  [class^="pill_"] {  
      display: none;
  }
}

/* GuildNav_Compact Core */

[class^="container_"]:has([data-list-id="guildsnav"]) {
  container-name: var(--FlashCore-GuildNav_Compact, FC-GuildNav_Compact);
  container-type: inline-size;
  contain: paint;
}

@container FC-GuildNav_Compact (min-width: 0px) {
  nav[class^="wrapper_"] { width: 60px; }
  [data-list-id="guildsnav"] > [class^="scroller_"] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  [class^="listItem_"] {
    margin: 0;
    transition-property: scale;
    transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
  }
  foreignObject { border-radius: var(--Flashcord-Border_Radius, 25px); }
  [id^="folder-items-"] { height: auto !important; }
  [class^="listItem_"] { scale: 0.9; }
  [class^="listItem_"]:has([class*="selected_"]) { scale: 0.95; }
  [class^="listItem_"]:has([class^="guildSeparator_"]) { display: none; }
}

@container FC-GuildNav_Compact-Horizontal (min-width: 0px) {
  [class^="base-"] { margin-top: 60px; }
  nav[class^="wrapper_"] { 
    left: -58px;
    width: 60px;
    position: absolute;
    z-index: 1;
    rotate: -90deg;
    transform-origin: right top;
  }
  ul[data-list-id="guildsnav"] > [class^="scroller_"] {
    padding: 0 !important;
    height: 100vw;
  }
  [class^="listItem_"] {
    rotate: 90deg;
    margin: 0;
    transition-property: scale;
    transition-duration: var(--Flashcord-TransMult-Fast, 125ms);
  }
  foreignObject { border-radius: var(--Flashcord-Border_Radius, 25px); }
  [class^="listItem_"] { scale: 0.9; }
  [class^="listItem_"]:has([class*="selected_"]) { scale: 0.95; }
  [id^="folder-items-"] { height: auto !important; }
  [class^="listItem_"]:has([class^="guildSeparator_"]) { display: none; }
}

/* ChannelNav_Compact Core */
[class^="content_"] > [class^="sidebar_"] {
  container-name: var(--FlashCore-ChannelNav_Compact, FC-ChannelNav_Compact);
  container-type: inline-size;
  contain: paint;
}

@container FC-ChannelNav_Compact (min-width: 0px) {
  li > div > div > a,
  [class^="emojiColorFill_"],
  li,
  [class^="container_"] [class^="link_"],
  [class^="channel_"] {
    scale: 0.95;
    translate: -4px;
    margin: -1px 0px -1px 0px;
    border-radius: var(--Flashcord-Border_Radius, 25px);
    transition-property: scale, background-color !important;
    transition-duration: var(--Flashcord-TransMult-Fast, 125ms) !important;
  }
  [class^="container_"] [class^="link_"]:hover {
    background: unset !important;
  }
  li:hover {
    scale: 1;
    /*will-change: scale;*/
  }
  li:active {
    scale: 0.90;
    /*will-change: scale;*/
  }
  [class^="ripple_"] { 
    opacity: 0;
    scale: 0; 
    transform: unset !important;
    animation: Flashcord-DNAO_Ripple var(--Flashcord-AnimMult-Normal, 250ms) ease-in;
  }

  li:has([class^="channelEmoji_"]) .name__8d1ec { /* [!] FC-Wildcard_PerfNuker */
    text-align: left !important;
    /*text-transform: capitalize;*/
  }

  [class^="emojiColorFill_"] { width: 240px; }
  [class^="name_"] { text-align: center !important; }
  li:has(h3) { margin: 4px; }
  [class^="container_"] [class^="name_"] { text-align: left; }
  [class^="arrow_"], [class^="addButtonIcon_"], [class^="children_"] [class^="iconItem_"] { display: none !important; }
  [class^="iconContainer_"] {
    position: absolute !important;
    translate: 126px;
    scale: 0.8;
    opacity: 0.3;
    transition-property: opacity !important;
    transition-duration: var(--Flashcord-TransMult-Fast, 125ms) !important;
  }
  li:hover [class^="iconContainer_"] {
    opacity: 0.5;
  }
  li[role="button"] [class^="iconContainer_"],
  li[role="listitem"] [class^="iconContainer_"] {
    translate: 0 !important;
  }
}

/* ChannelNav_Glow Core */
#channels {
  container-name: var(--FlashCore-ChannelNav_Notification, FC-ChannelNav_Animated);
  container-type: inline-size;
}

@container FC-ChannelNav_Animated (min-width: 0px) {
  [class^="containerDefault_"]:has([class^="mentionsBadge_"]) {
    animation: Flashcord-Rainbow_BGR var(--Flashcord-AnimMult-XSlow, 1s) linear reverse infinite;
  }
  [class^="mentionsBadge_"] { 
    translate: -106px;
    display: block !important;
  }
  li[class^="container_"] [class^="mentionsBadge_"] { 
    translate: -114px;
    display: block !important;
  }
  [class^="children_"] { position: absolute;}
  [class^="unread_"] { 
    border-radius: var(--Flashcord-Border_Radius, 25px);
    translate: 13px 4px;
    width: 24px;
    height: 24px;
    top: 0;
    margin: 0;
    animation: Flashcord-Rainbow_BGR var(--Flashcord-AnimMult-XSlow, 1s) linear reverse infinite;
  }
}

@container FC-ChannelNav_Static (min-width: 0px) {
  [class^="containerDefault_"]:has([class^="mentionsBadge_"]) {
   background: var(--Flashcord-ChannelNav_Color-Mention, rgba(255,0,0,0.5));
  }
  [class^="channelInfo_"] { 
    translate: -106px;
    display: block !important;
  }
  [class^="children_"] { position: absolute;}
  [class^="unread_"] { 
    border-radius: var(--Flashcord-Border_Radius, 25px);
    translate: 13px 4px;
    width: 24px;
    height: 24px;
    top: 0;
    margin: 0;
    background: var(--Flashcord-ChannelNav_Color-Unread, rgba(0,0,255,0.5));
  }
}

/* [END] = Flashcord Beta == Major General Modifications [00] ChatEx CSS = */