
/* [Start] = Flashcord Beta == Small Modifications - Popup CSS = */

/* Fixes an annoying bug regarding pop up menus*/
[class^="submenuPaddingContainer_"] {
    padding: 0;
    margin: 4px;
}

/* Better Tooltips */
[class^="tooltip_"] {
    border-radius: var(--Flashcord-Border_Radius, 25px);
}
[class^="tooltipPointer_"] { display: none; }

/* [End] = Flashcord Beta == Small Modifications - Popup CSS = */
