
/* [Start] = Flashcord Beta == Small Modifications - BaseLayer CSS = */

/* update your fucking client nerd, and then cry cause replugged unplugged itself cuz discord bad >:( */
[class^="updateIconForeground_"] {
    fill: red !important;
    animation: FlashCore-Shake calc(100ms * var(--Flashcord-Animations, 1)) infinite;
}

/* Real men don't need help. */
[href="https://support.discord.com"] {
    display: none;
}

/* @ Before Usernames */
[class^="userTagUsernameBase_"]:before, [class^="usernameInnerRow_"]:before {
    content: "@"
}

/* Icon Hover Response */
[class^="icon_"] {
    transition-property: scale;
    transition-duration: var(--Flashcord-TransMult-Fast, 125ms) !important;
}
[class^="icon_"]:hover {
    scale: 1.1;
}
[class^="icon_"]:active {
    scale: 0.9;
}

/* [End] = Flashcord Beta == Small Modifications - BaseLayer CSS = */
