
/* [Start] = Flashcord Beta == Small Modifications - BaseLayer CSS = */

[class^="updateIconForeground-"] {
    fill: red !important;
    animation: FlashCore-Shake calc(100ms * var(--Flashcord-Animations, 1)) infinite;
}

[href="https://support.discord.com"] {
    display: none;
}

/* @ Before Usernames */
[class^="userTagUsernameBase-"]:before, [class^="usernameInnerRow-"]:before {
    content: "@"
}

[class^="icon-"] {
    transition-property: scale;
    transition-duration: var(--Flashcord-TransMult-Fast, 125ms) !important;
}
[class^="icon-"]:hover {
    scale: 1.1;
}
[class^="icon-"]:active {
    scale: 0.9;
}

/* [End] = Flashcord Beta == Small Modifications - BaseLayer CSS = */
