
/* [Start] = Flashcord Beta == Small Modifications - BaseLayer CSS = */

[class^="updateIconForeground-"] {
    fill: red !important;
    animation: FlashCore-Shake calc(100ms * var(--Enable-Animations, 1)) infinite;
}

[href="https://support.discord.com"] {
    display: none;
}

/* @ Before Usernames */
[class^="userTagUsernameBase-"]:before, [class^="usernameInnerRow-"]:before {
    content: "@"
}

[class^="submenuPaddingContainer-"] {
    padding: 0;
    margin: -4px;
}

/* [End] = Flashcord Beta == Small Modifications - BaseLayer CSS = */
