
/* [Start] = Flashcord Beta == OpenAsar Splash CSS = */

/* Notice: Do not include yet!

body:has(#barContainer) { background-color: black;}
body:has(#barContainer) #video {
    position: absolute;
    margin: auto;
}
body:has(#barContainer) #text {
    position: absolute;
    bottom: 1.5rem;
    color: white;
    font-style: normal;
    text-transform: none;
    opacity: 0.25;
}
body:has(#barContainer) #barContainer {
    position: absolute;
    bottom: 1px;
    width: 100vw;
    height: 8px;
    border-radius: 0;
    margin: 0;
}

*/

/* [Start] = Flashcord Beta == OpenAsar Splash CSS = */